// .buttons{
//     margin-top: 10px;
//     margin-left: 190px;
//     margin-bottom: 10px;
// }

.buttons{
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkbox{
    margin-left: 20px;
    margin-top: 10px;
}

.bbutton{
    margin-left: 53px;
}